<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE taglib PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN"
                        "http://java.sun.com/dtd/web-jsptaglibrary_1_2.dtd">
<taglib>
	<tlib-version>1.0</tlib-version>
	<jsp-version>1.2</jsp-version>
	<short-name>t</short-name>
	<uri>/easyui-tags</uri>
	<display-name>"自定义标签"</display-name>
	<tag>
		<name>base</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.BaseTag</tag-class>
		<body-content>jsp</body-content>
		<description>父类标签生成JS CSS</description>
		<attribute>
			<name>type</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>加载类型</description>
		</attribute>
	</tag>
	<tag>
		<name>datagrid</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.DataGridTag</tag-class>
		<body-content>jsp</body-content>
		<description>数据列表</description>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>列表TABLE标示</description>
		</attribute>
		<attribute>
			<name>treegrid</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否是树形列表 值为true 或者false</description>
		</attribute>
		<attribute>
			<name>actionUrl</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>分页提交的路径</description>
		</attribute>
		<attribute>
			<name>pagination</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否分页 true,false</description>
		</attribute>
		<attribute>
			<name>title</name>
			<rtexprvalue>true</rtexprvalue>
			<description>表格标题</description>
		</attribute>
		<attribute>
			<name>idField</name>
			<rtexprvalue>true</rtexprvalue>
			<description>主键字段</description>
		</attribute>
		<attribute>
			<name>width</name>
			<rtexprvalue>true</rtexprvalue>
			<description>表格宽度</description>
		</attribute>
		<attribute>
			<name>height</name>
			<rtexprvalue>true</rtexprvalue>
			<description>表格高度</description>
		</attribute>
		<attribute>
			<name>checkbox</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否显示复选框</description>
		</attribute>
		<attribute>
			<name>fit</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否适应父容器,true 默认 ,false</description>
		</attribute>
		<attribute>
			<name>sortName</name>
			<rtexprvalue>true</rtexprvalue>
			<description>定义的列进行排序</description>
		</attribute>
		<attribute>
			<name>sortOrder</name>
			<rtexprvalue>true</rtexprvalue>
			<description>定义列的排序顺序，只能是"递增 asc"或"降序desc"</description>
		</attribute>
		<attribute>
			<name>fitColumns</name>
			<rtexprvalue>true</rtexprvalue>
			<description>当为true时，自动展开/合同列的大小，以适应的宽度，防止横向滚动</description>
		</attribute>
		<attribute>
			<name>showPageList</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否显示页面列表</description>
		</attribute>
		<attribute>
			<name>showRefresh</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否显示刷新按钮</description>
		</attribute>
		<attribute>
			<name>showText</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否显示分页信息</description>
		</attribute>
		<attribute>
			<name>style</name>
			<rtexprvalue>true</rtexprvalue>
			<description>表格样式easyui,datatables</description>
		</attribute>
		<attribute>
			<name>pageSize</name>
			<rtexprvalue>true</rtexprvalue>
			<description>每页显示条数</description>
		</attribute>
		<attribute>
			<name>onLoadSuccess</name>
			<rtexprvalue>true</rtexprvalue>
			<description>数据加载成调用方法</description>
		</attribute>
		<attribute>
			<name>onDblClick</name>
			<rtexprvalue>true</rtexprvalue>
			<description>双击调用方法</description>
		</attribute>
		<attribute>
			<name>onClick</name>
			<rtexprvalue>true</rtexprvalue>
			<description>单击调用方法 tree 下function(rowData),dataGrid
				下function(rowIndex,rowData)</description>
		</attribute>
		<attribute>
			<name>onSelect</name>
			<rtexprvalue>true</rtexprvalue>
			<description>选择行或者节点时调用方法 tree 下function(note),dataGrid
				下function(rowIndex,rowData)</description>
		</attribute>
		<attribute>
			<name>onCheck</name>
			<rtexprvalue>true</rtexprvalue>
			<description>选择行或者节点时调用方法 tree 下function(note),dataGrid
				下function(rowIndex,rowData)</description>
		</attribute>
		<attribute>
			<name>onUncheck</name>
			<rtexprvalue>true</rtexprvalue>
			<description>选择行或者节点时调用方法 tree 下function(note),dataGrid
				下function(rowIndex,rowData)</description>
		</attribute>
		<attribute>
			<name>queryMode</name>
			<rtexprvalue>true</rtexprvalue>
			<description>查询模式：single(单条件查询：默认),group(组合查询)</description>
		</attribute>
		<attribute>
			<name>autoLoadData</name>
			<rtexprvalue>true</rtexprvalue>
			<description>列表页面数据加载模式。true自动加载数据，false手动加载，默认为true</description>
		</attribute>
		<attribute>
			<name>openFirstNode</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是不是展开第一个节点,在树形情况下,true展开,false不展开默认false</description>
		</attribute>
		<attribute>
			<name>entityName</name>
			<rtexprvalue>true</rtexprvalue>
			<description>对应的实体对象,如果entity和controller都是规则的可以不填,自动补全标签做关联</description>
		</attribute>
		<attribute>
			<name>rowStyler</name>
			<rtexprvalue>true</rtexprvalue>
			<description>行 css函数 指定名称就可以,调用为 functionName(index,row)这样调用</description>
		</attribute>
		<attribute>
			<name>extendParams</name>
			<rtexprvalue>true</rtexprvalue>
			<description>datagrid 的扩展字段,如果easyui上面有但是bp没有这个属性可以自己添加
				添加规则和easyui的field一致</description>
		</attribute>
	</tag>
	<tag>
		<name>dgCol</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.DataGridColumnTag</tag-class>
		<body-content>jsp</body-content>
		<description>列表字段</description>
		<attribute>
			<name>title</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>字段标题</description>
		</attribute>
		<attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>字段值</description>
		</attribute>
		<attribute>
			<name>width</name>
			<rtexprvalue>true</rtexprvalue>
			<description>字段宽度</description>
		</attribute>
		<attribute>
			<name>rowspan</name>
			<rtexprvalue>true</rtexprvalue>
			<description>字段跨列</description>
		</attribute>
		<attribute>
			<name>colspan</name>
			<rtexprvalue>true</rtexprvalue>
			<description>字段跨行</description>
		</attribute>
		<attribute>
			<name>align</name>
			<rtexprvalue>true</rtexprvalue>
			<description>数据对齐方式，可选值有left,right,center</description>
		</attribute>
		<attribute>
			<name>sortable</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否排序</description>
		</attribute>
		<attribute>
			<name>checkbox</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否显示选择框</description>
		</attribute>
		<attribute>
			<name>formatter</name>
			<rtexprvalue>true</rtexprvalue>
			<description>自定义函数名称</description>
		</attribute>
		<attribute>
			<name>hidden</name>
			<rtexprvalue>true</rtexprvalue>
			<description>列隐藏(隐藏:false)</description>
		</attribute>
		<attribute>
			<name>replace</name>
			<rtexprvalue>true</rtexprvalue>
			<description>字段值替换(格式 ：old_new,old2_new2)</description>
		</attribute>
		<attribute>
			<name>treefield</name>
			<rtexprvalue>true</rtexprvalue>
			<description>树形菜单对应字段</description>
		</attribute>
		<attribute>
			<name>image</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否显示图片字段</description>
		</attribute>
		<attribute>
			<name>imageSize</name>
			<rtexprvalue>true</rtexprvalue>
			<description>自定义大小显示(格式：width,height)</description>
		</attribute>
		<attribute>
			<name>query</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否为添加查询列</description>
		</attribute>
		<attribute>
			<name>queryMode</name>
			<rtexprvalue>true</rtexprvalue>
			<description>字段查询模式：single(默认：单字段查询),group(范围查询)</description>
		</attribute>
		<attribute>
			<name>frozenColumn</name>
			<rtexprvalue>false</rtexprvalue>
			<description>是否是冰冻列。默认false</description>
		</attribute>
		<attribute>
			<name>funname</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>自定义函数</description>
		</attribute>
		<attribute>
			<name>url</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>自定义链接地址</description>
		</attribute>
		<attribute>
			<name>dictionary</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>数据字典组编码 或 自定义字典(格式：表名,编码,显示文本)</description>
		</attribute>
		<attribute>
			<name>extend</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>扩展属性(采用json格式)查询的时候使用</description>
		</attribute>
		<attribute>
			<name>style</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>td CSS 属性</description>
		</attribute>
		<attribute>
			<name>downloadName</name>
			<rtexprvalue>true</rtexprvalue>
			<description>附件下载</description>
		</attribute>
		<attribute>
			<name>autocomplete</name>
			<rtexprvalue>true</rtexprvalue>
			<description>自动补全,true 自动补全,false不补全,默认false 填写当前字段</description>
		</attribute>
		<attribute>
			<name>extendParams</name>
			<rtexprvalue>true</rtexprvalue>
			<description>datagrid field 的扩展字段,如果easyui上面有但是bp没有这个属性可以自己添加
				添加规则和easyui的field一致</description>
		</attribute>
	</tag>
	<tag>
		<name>dgDelOpt</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.DataGridDelOptTag</tag-class>
		<body-content>jsp</body-content>
		<description>列表删除操作</description>
		<attribute>
			<name>url</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>列表操作URL</description>
		</attribute>
		<attribute>
			<name>title</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>操作标题</description>
		</attribute>
		<attribute>
			<name>message</name>
			<rtexprvalue>true</rtexprvalue>
			<description>询问内容</description>
		</attribute>
		<attribute>
			<name>exp</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否显示改链接的表达式,例 字段名#表达式符号#字段值(name#eq#admin)
				表达式类型支持eq,ne,empty</description>
		</attribute>
		<attribute>
			<name>funname</name>
			<rtexprvalue>true</rtexprvalue>
			<description>自定义函数名称</description>
		</attribute>
		<attribute>
			<name>operationCode</name>
			<rtexprvalue>true</rtexprvalue>
			<description>按钮操作Code</description>
		</attribute>
	</tag>
	<tag>
		<name>dgDefOpt</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.DataGridDefOptTag</tag-class>
		<body-content>jsp</body-content>
		<description>列表URL操作</description>
		<attribute>
			<name>url</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>列表操作URL</description>
		</attribute>
		<attribute>
			<name>title</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>操作标题</description>
		</attribute>
		<attribute>
			<name>exp</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否显示改链接的表达式,例 字段名#表达式符号#字段值(name#eq#admin)
				表达式类型支持eq,ne,empty</description>
		</attribute>
		<attribute>
			<name>operationCode</name>
			<rtexprvalue>true</rtexprvalue>
			<description>按钮操作Code</description>
		</attribute>
	</tag>
	<tag>
		<name>dgOpenOpt</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.DataGridOpenOptTag</tag-class>
		<body-content>jsp</body-content>
		<description>弹出窗模式操作</description>
		<attribute>
			<name>url</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>列表操作URL</description>
		</attribute>
		<attribute>
			<name>title</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>操作标题</description>
		</attribute>
		<attribute>
			<name>width</name>
			<rtexprvalue>true</rtexprvalue>
			<description>弹出窗宽度</description>
		</attribute>
		<attribute>
			<name>height</name>
			<rtexprvalue>true</rtexprvalue>
			<description>弹出窗高度</description>
		</attribute>
		<attribute>
			<name>exp</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否显示改链接的表达式,例 字段名#表达式符号#字段值(name#eq#admin)
				表达式类型支持eq,ne,empty</description>
		</attribute>
		<attribute>
			<name>operationCode</name>
			<rtexprvalue>true</rtexprvalue>
			<description>按钮操作Code</description>
		</attribute>
		<attribute>
			<name>openModel</name>
			<rtexprvalue>true</rtexprvalue>
			<description>弹出方式[OpenWin/OpenTab]</description>
		</attribute>
	</tag>
	<tag>
		<name>dgFunOpt</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.DataGridFunOptTag</tag-class>
		<body-content>jsp</body-content>
		<description>列表自定义函数操作</description>
		<attribute>
			<name>title</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>操作标题</description>
		</attribute>
		<attribute>
			<name>exp</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否显示改链接的表达式,例 字段名#表达式符号#字段值(name#eq#admin)
				表达式类型支持eq,ne,empty</description>
		</attribute>
		<attribute>
			<name>funname</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>自定义函数名称(可传出任意字段)</description>
		</attribute>
		<attribute>
			<name>operationCode</name>
			<rtexprvalue>true</rtexprvalue>
			<description>按钮操作Code</description>
		</attribute>
	</tag>
	<tag>
		<name>dgToolBar</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.DataGridToolBarTag</tag-class>
		<body-content>jsp</body-content>
		<description>列表工具条标签</description>
		<attribute>
			<name>url</name>
			<rtexprvalue>true</rtexprvalue>
			<description>工具条选项URL</description>
		</attribute>
		<attribute>
			<name>icon</name>
			<rtexprvalue>true</rtexprvalue>
			<description>工具条选项图标</description>
		</attribute>
		<attribute>
			<name>title</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>工具条选项标题</description>
		</attribute>
		<attribute>
			<name>funname</name>
			<rtexprvalue>true</rtexprvalue>
			<description>工具条选项自定义函数</description>
		</attribute>
		<attribute>
			<name>width</name>
			<rtexprvalue>true</rtexprvalue>
			<description>弹出框宽度</description>
		</attribute>
		<attribute>
			<name>height</name>
			<rtexprvalue>true</rtexprvalue>
			<description>弹出框高度</description>
		</attribute>
		<attribute>
			<name>onclick</name>
			<rtexprvalue>true</rtexprvalue>
			<description>工具条选项onclick事件</description>
		</attribute>
		<attribute>
			<name>operationCode</name>
			<rtexprvalue>true</rtexprvalue>
			<description>按钮操作Code</description>
		</attribute>
	</tag>
	<tag>
		<name>dgConfOpt</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.DataGridConfOptTag</tag-class>
		<body-content>jsp</body-content>
		<description>列表询问操作</description>
		<attribute>
			<name>url</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>列表操作URL</description>
		</attribute>
		<attribute>
			<name>title</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>操作标题</description>
		</attribute>
		<attribute>
			<name>exp</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否显示改链接的表达式,例 字段名#表达式符号#字段值(name#eq#admin)
				表达式类型支持eq,ne,empty</description>
		</attribute>
		<attribute>
			<name>message</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>询问内容</description>
		</attribute>
		<attribute>
			<name>operationCode</name>
			<rtexprvalue>true</rtexprvalue>
			<description>按钮操作Code</description>
		</attribute>
	</tag>
	<tag>
		<name>comboBox</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.ComboBoxTag</tag-class>
		<body-content>jsp</body-content>
		<description>下拉选择框</description>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>控件名称</description>
		</attribute>
		<attribute>
			<name>url</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>远程数据</description>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>ID对应字段</description>
		</attribute>
		<attribute>
			<name>text</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>text对应字段</description>
		</attribute>
		<attribute>
			<name>width</name>
			<rtexprvalue>true</rtexprvalue>
			<description>width对应字段</description>
		</attribute>
		<attribute>
			<name>listWidth</name>
			<rtexprvalue>true</rtexprvalue>
			<description>listWidth对应字段</description>
		</attribute>
		<attribute>
			<name>listHeight</name>
			<rtexprvalue>true</rtexprvalue>
			<description>listHeight对应字段</description>
		</attribute>
	</tag>
	<tag>
		<name>comboTree</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.ComboTreeTag</tag-class>
		<body-content>jsp</body-content>
		<description>下拉树形选择框</description>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>控件名称</description>
		</attribute>
		<attribute>
			<name>url</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>远程数据</description>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>ID对应字段</description>
		</attribute>
		<attribute>
			<name>width</name>
			<rtexprvalue>true</rtexprvalue>
			<description>width对应字段</description>
		</attribute>
		<attribute>
			<name>value</name>
			<rtexprvalue>true</rtexprvalue>
			<description>值</description>
		</attribute>
		<attribute>
			<name>multiple</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否多选</description>
		</attribute>
	</tag>
	<tag>
		<name>tabs</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.TabsTag</tag-class>
		<body-content>jsp</body-content>
		<description>选项卡标签</description>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>容器ID</description>
		</attribute>
		<attribute>
			<name>width</name>
			<rtexprvalue>true</rtexprvalue>
			<description>宽度</description>
		</attribute>
		<attribute>
			<name>heigth</name>
			<rtexprvalue>true</rtexprvalue>
			<description>高度</description>
		</attribute>
		<attribute>
			<name>plain</name>
			<rtexprvalue>true</rtexprvalue>
			<description>如果设置为true，将不显示控制面板背景。</description>
		</attribute>
		<attribute>
			<name>fit</name>
			<rtexprvalue>true</rtexprvalue>
			<description>设置为true时，选项卡的大小将铺满它所在的容器（浏览器）</description>
		</attribute>
		<attribute>
			<name>border</name>
			<rtexprvalue>true</rtexprvalue>
			<description>如果设置true，将显示选项卡所在容器（控制面板）的边框</description>
		</attribute>
		<attribute>
			<name>scrollIncrement</name>
			<rtexprvalue>true</rtexprvalue>
			<description>选项卡滚动条每次滚动的像素值</description>
		</attribute>
		<attribute>
			<name>scrollDuration</name>
			<rtexprvalue>true</rtexprvalue>
			<description>每次滚动持续的时间，单位为毫秒</description>
		</attribute>
		<attribute>
			<name>tools</name>
			<rtexprvalue>true</rtexprvalue>
			<description>控制面板右侧的工具栏，每个工具选项都跟链接按钮一样</description>
		</attribute>
		<attribute>
			<name>tabs</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否创建父容器</description>
		</attribute>
		<attribute>
			<name>iframe</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否是Iframe创建HREF</description>
		</attribute>
		<attribute>
			<name>tabPosition</name>
			<rtexprvalue>true</rtexprvalue>
			<description>选项卡位置(top,left,right,bottom)</description>
		</attribute>
	</tag>
	<tag>
		<name>tab</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.TabTag</tag-class>
		<body-content>jsp</body-content>
		<description>选项卡选项标签</description>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>ID对应字段</description>
		</attribute>
		<attribute>
			<name>title</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>tab标题</description>
		</attribute>
		<attribute>
			<name>heigth</name>
			<rtexprvalue>true</rtexprvalue>
			<description>tab高度</description>
		</attribute>
		<attribute>
			<name>width</name>
			<rtexprvalue>true</rtexprvalue>
			<description>宽度</description>
		</attribute>
		<attribute>
			<name>href</name>
			<rtexprvalue>true</rtexprvalue>
			<description>href</description>
		</attribute>
		<attribute>
			<name>iframe</name>
			<rtexprvalue>true</rtexprvalue>
			<description>ID对应字段</description>
		</attribute>
		<attribute>
			<name>icon</name>
			<rtexprvalue>true</rtexprvalue>
			<description>选项卡图标</description>
		</attribute>
		<attribute>
			<name>closable</name>
			<rtexprvalue>true</rtexprvalue>
			<description>选项卡是否带关闭按钮</description>
		</attribute>
	</tag>
	<tag>
		<name>upload</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.UploadTag</tag-class>
		<body-content>jsp</body-content>
		<description>选项卡选项标签</description>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>ID对应字段</description>
		</attribute>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>控件名称</description>
		</attribute>
		<attribute>
			<name>formData</name>
			<rtexprvalue>true</rtexprvalue>
			<description>后台接受的参数,取控件ID</description>
		</attribute>
		<attribute>
			<name>uploader</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>uploader</description>
		</attribute>
		<attribute>
			<name>extend</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>上传文件扩展名(可选类型组1,图片：pic,2,文档：office)</description>
		</attribute>
		<attribute>
			<name>buttonText</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>控件显示文本</description>
		</attribute>
		<attribute>
			<name>multi</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>是否多文件上传</description>
		</attribute>
		<attribute>
			<name>queueID</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>文件容器ID</description>
		</attribute>
		<attribute>
			<name>dialog</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>是否是弹出窗口模式</description>
		</attribute>
		<attribute>
			<name>callback</name>
			<rtexprvalue>false</rtexprvalue>
			<description>回调函数</description>
		</attribute>
		<attribute>
			<name>auto</name>
			<rtexprvalue>false</rtexprvalue>
			<description>是否自动上传</description>
		</attribute>
		<attribute>
			<name>onUploadSuccess</name>
			<rtexprvalue>false</rtexprvalue>
			<description>上传成功处理函数</description>
		</attribute>
		<attribute>
			<name>view</name>
			<rtexprvalue>false</rtexprvalue>
			<description>是否生成查看删除链接默认false,如为true需要在后台返回JSON中添加查看参数(viewhref)和删除参数(delurl)</description>
		</attribute>
	</tag>
	<tag>
		<name>ckfinder</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.CkfinderTag</tag-class>
		<body-content>jsp</body-content>
		<description>ckfinder标签</description>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>属性名称</description>
		</attribute>
		<attribute>
			<name>value</name>
			<rtexprvalue>true</rtexprvalue>
			<description>默认值</description>
		</attribute>
		<attribute>
			<name>width</name>
			<rtexprvalue>false</rtexprvalue>
			<description>显示图片宽(上传类型为Images时)</description>
		</attribute>
		<attribute>
			<name>height</name>
			<rtexprvalue>false</rtexprvalue>
			<description>显示图片高(上传类型为Images时)</description>
		</attribute>
		<attribute>
			<name>buttonClass</name>
			<rtexprvalue>false</rtexprvalue>
			<description>按钮样式</description>
		</attribute>
		<attribute>
			<name>buttonValue</name>
			<rtexprvalue>false</rtexprvalue>
			<description>按钮文本</description>
		</attribute>
		<attribute>
			<name>uploadType</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
			<description>上传类型(Images,Files,Flash)</description>
		</attribute>
	</tag>
	<tag>
		<name>ckeditor</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.CkeditorTag</tag-class>
		<body-content>jsp</body-content>
		<description>ckeditor标签</description>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>属性名称</description>
		</attribute>
		<attribute>
			<name>value</name>
			<rtexprvalue>true</rtexprvalue>
			<description>默认值</description>
		</attribute>
		<attribute>
			<name>isfinder</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
			<description>是否加载ckfinder</description>
		</attribute>
		<attribute>
			<name>type</name>
			<rtexprvalue>false</rtexprvalue>
			<description>其它属性(用法:height:400,uiColor:'#9AB8F3' 用,分割)</description>
		</attribute>
	</tag>
	<tag>
		<name>formvalid</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.FormValidationTag</tag-class>
		<body-content>jsp</body-content>
		<description>表单验证标签</description>
		<attribute>
			<name>action</name>
			<rtexprvalue>true</rtexprvalue>
			<description>表单提交路径</description>
		</attribute>
		<attribute>
			<name>formid</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>Form Id</description>
		</attribute>
		<attribute>
			<name>refresh</name>
			<rtexprvalue>false</rtexprvalue>
			<description>是否刷新父页面</description>
		</attribute>
		<attribute>
			<name>callback</name>
			<rtexprvalue>false</rtexprvalue>
			<description>回调函数</description>
		</attribute>
		<attribute>
			<name>beforeSubmit</name>
			<rtexprvalue>false</rtexprvalue>
			<description>提交之前处理函数</description>
		</attribute>
		<attribute>
			<name>btnsub</name>
			<rtexprvalue>false</rtexprvalue>
			<description>触发提交事件按钮(默认值：btn_sub)</description>
		</attribute>
		<attribute>
			<name>btnreset</name>
			<rtexprvalue>false</rtexprvalue>
			<description>触发表单重置事件按钮(默认值：btn_reset)</description>
		</attribute>
		<attribute>
			<name>layout</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
			<description>表单布局</description>
		</attribute>
		<attribute>
			<name>usePlugin</name>
			<rtexprvalue>false</rtexprvalue>
			<description>外调插件(可选插件,jqtransform:表单美化)</description>
		</attribute>
		<attribute>
			<name>dialog</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>是否是弹出窗口模式</description>
		</attribute>
		<attribute>
			<name>tabtitle</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>表单选项卡分组标题</description>
		</attribute>
		<attribute>
			<name>tiptype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>表单校验提示方式 1:弹出方式,2-4：侧边提示</description>
		</attribute>
	</tag>
	<!-- 自定义的选中操作 -->
	<tag>
		<name>choose</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.ChooseTag</tag-class>
		<body-content>jsp</body-content>
		<small-icon>111</small-icon>
		<description>选则操作</description>
		<attribute>
			<name>hiddenName</name>
			<rtexprvalue>true</rtexprvalue>
			<description>隐藏域控件的ID</description>
		</attribute>
		<attribute>
			<name>hiddenid</name>
			<rtexprvalue>true</rtexprvalue>
			<description>隐藏域控件在弹出列表中的对应字段</description>
		</attribute>
		<attribute>
			<name>textname</name>
			<rtexprvalue>true</rtexprvalue>
			<description>显示域控件在弹出列表中的对应字段</description>
		</attribute>
		<attribute>
			<name>inputTextname</name>
			<rtexprvalue>true</rtexprvalue>
			<description>显示域控件的ID</description>
		</attribute>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>datagrid名称</description>
		</attribute>
		<attribute>
			<name>icon</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>选择按钮的图标</description>
		</attribute>
		<attribute>
			<name>height</name>
			<rtexprvalue>true</rtexprvalue>
			<description>弹出框的宽度</description>
		</attribute>
		<attribute>
			<name>width</name>
			<rtexprvalue>true</rtexprvalue>
			<description>弹出框的高度</description>
		</attribute>
		<attribute>
			<name>left</name>
			<rtexprvalue>true</rtexprvalue>
			<description>弹出框的位置</description>
		</attribute>
		<attribute>
			<name>top</name>
			<rtexprvalue>true</rtexprvalue>
			<description>弹出框的位置</description>
		</attribute>
		<attribute>
			<name>url</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>url</description>
		</attribute>
		<attribute>
			<name>title</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>标题</description>
		</attribute>
		<attribute>
			<name>isclear</name>
			<rtexprvalue>true</rtexprvalue>
			<description>标题</description>
		</attribute>
		<attribute>
			<name>fun</name>
			<rtexprvalue>true</rtexprvalue>
			<description>自定义函数</description>
		</attribute>
	</tag>
	<!-- 颜色控件 -->
	<tag>
		<name>colorchange</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.ColorChangeTag</tag-class>
		<body-content>jsp</body-content>
		<display-name>改变HTML控件颜色</display-name>
		<small-icon>111</small-icon>
		<description>改变HTML控件颜色</description>
	</tag>
	<!-- 菜单生成控件 -->
	<tag>
		<name>menu</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.MenuTag</tag-class>
		<body-content>jsp</body-content>
		<display-name>左侧菜单生成控件</display-name>
		<small-icon>111</small-icon>
		<description>左侧菜单生成控件可选样式easyui,bootstrap,json</description>
		<attribute>
			<name>style</name>
			<rtexprvalue>true</rtexprvalue>
			<description>菜单样式</description>
		</attribute>
		<attribute>
			<name>parentFun</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>一级菜单</description>
		</attribute>
		<attribute>
			<name>childFun</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>二级菜单</description>
		</attribute>
		<attribute>
			<name>menuFun</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>菜单信息</description>
		</attribute>
	</tag>
	<!-- 自动完成 -->
	<tag>
		<name>autocomplete</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.AutocompleteTag</tag-class>
		<body-content>jsp</body-content>
		<display-name>自动完成控件</display-name>
		<small-icon>111</small-icon>
		<description>数据自动补全</description>
		<attribute>
			<name>name</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>控件名称</description>
		</attribute>
		<attribute>
			<name>entityName</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>数据源对应实体</description>
		</attribute>
		<attribute>
			<name>dataSource</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>数据源</description>
		</attribute>
		<attribute>
			<name>minLength</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>提示触发文字长度</description>
		</attribute>
		<attribute>
			<name>labelField</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>显示文本对应的实体字段</description>
		</attribute>
		<attribute>
			<name>valueField</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>取值字段对应实体字段</description>
		</attribute>
		<attribute>
			<name>label</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>传入显示文本</description>
		</attribute>
		<attribute>
			<name>value</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>传入隐藏域值</description>
		</attribute>
		<attribute>
			<name>searchField</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>查询关键字对应实体字段</description>
		</attribute>
		<attribute>
			<name>selectfun</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>下拉选择事件调用函数</description>
		</attribute>
		<attribute>
			<name>closefun</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>下拉选项关闭调用函数</description>
		</attribute>
		<attribute>
			<name>datatype</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>数据类型</description>
		</attribute>
		<attribute>
			<name>nullmsg</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>数据为空时提示</description>
		</attribute>
		<attribute>
			<name>errormsg</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>数据格式错误时提示</description>
		</attribute>
		<attribute>
			<name>parse</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>转换数据</description>
		</attribute>
		<attribute>
			<name>formatItem</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>格式化要显示的数据</description>
		</attribute>
		<attribute>
			<name>result</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>选择后回调方法</description>
		</attribute>
		<attribute>
			<name>maxRows</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>最多显示条数</description>
		</attribute>
	</tag>
	<!-- 选择下拉框 -->
	<tag>
		<name>dictSelect</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.DictSelectTag</tag-class>
		<body-content>jsp</body-content>
		<display-name>下拉选择控件</display-name>
		<small-icon>111</small-icon>
		<description>下拉选择控件</description>
		<attribute>
			<name>typeGroupCode</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>数据字典类型编码</description>
		</attribute>
		<attribute>
			<name>field</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
			<description>SELECT表单的Name</description>
		</attribute>
		<attribute>
			<name>extendJson</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>扩展参数(json格式)</description>
		</attribute>
		<attribute>
			<name>id</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>SELECT表单的Id</description>
		</attribute>
		<attribute>
			<name>defaultVal</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>默认选择的Value</description>
		</attribute>
		<attribute>
			<name>divClass</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>DIV样式</description>
		</attribute>
		<attribute>
			<name>labelClass</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>Label样式</description>
		</attribute>
		<attribute>
			<name>title</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
			<description>Label显示值</description>
		</attribute>
		<attribute>
			<name>hasLabel</name>
			<rtexprvalue>true</rtexprvalue>
			<description>是否显示Label</description>
		</attribute>
		<attribute>
			<name>type</name>
			<rtexprvalue>true</rtexprvalue>
			<description>控件格式 select|radio|checkbox</description>
		</attribute>

		<attribute>
			<name>dictTable</name>
			<rtexprvalue>true</rtexprvalue>
			<description>自定义字典表</description>
		</attribute>
		<attribute>
			<name>dictField</name>
			<rtexprvalue>true</rtexprvalue>
			<description>自定义字典表的匹配字段-字典的编码值</description>
		</attribute>
		<attribute>
			<name>dictText</name>
			<rtexprvalue>true</rtexprvalue>
			<description>自定义字典表的显示文本-字典的显示值</description>
		</attribute>
	</tag>
	<!-- 按钮权限标签 -->
	<tag>
		<name>authFilter</name>
		<tag-class>com.hnykl.bp.tag.core.easyui.AuthFilterTag</tag-class>
		<body-content>jsp</body-content>
		<display-name>按钮权限标签</display-name>
		<description>将当前用户对应菜单中不拥有按钮权限的按钮和操作隐藏</description>
		<attribute>
			<name>name</name>
			<rtexprvalue>true</rtexprvalue>
			<description>按钮容器的ID</description>
		</attribute>
	</tag>
</taglib>